@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-transition-enter {
  opacity: 0;
  transform: scale(0.95);
}

.menu-transition-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.menu-transition-exit {
  opacity: 1;
  transform: scale(1);
}

.menu-transition-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 300ms, transform 300ms;
}