@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-transition-enter {
  opacity: 0;
  transform: scale(0.95);
}

.menu-transition-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.menu-transition-exit {
  opacity: 1;
  transform: scale(1);
}

.menu-transition-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 300ms, transform 300ms;
}

.anchBorder {
	background-color: rgb(249, 246, 229);
	box-shadow: rgba(0, 0, 0, 0.2) -2px 2px 3px 0px;
	border-color: currentcolor;
	border-style: solid;
	border-width: 12px;
	border-image: url("../assets/images/name-tag-border.svg") 40 / 12px / 0 round;
	font-size: 16px;
	font-style: italic;
	font-weight: 700;
}